/* Colores institucionales */

:root {
    --uv-blue: #18529D;
    --uv-green: #28AD56;
    --uv-black: #000000;
    --uv-white: #FFFFFF;
}


/* Estilos personalizados */

.btn-primary {
    background-color: var(--uv-blue);
    border-color: var(--uv-blue);
}

.btn-primary:hover {
    background-color: #103d7a;
    border-color: #103d7a;
}

.card-header {
    background-color: var(--uv-green);
    color: var(--uv-white);
}